.fourSteps {
  display: flex;
  flex-direction: column;
  align-items: center;
  .fourStepsHeader {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
    margin-top: 3rem;
    color: $color-dark-accent;
  }
  .decorationSteps {
    padding: 1rem 3.5rem 1rem 3.5rem;
    zoom: 0.8;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
.steps {
  display: flex;
  position: relative;
  .stepElement {
    * {
      margin: 3px;
    }
    padding: 3rem;

    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
  }
}
.steps::before {
  height: 100%;
  margin-left: -15vw;
  width: 100vw;
  content: "";
  background-color: $color-back;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#giveaway {
  width: 70px;
  font-weight: 100;
  font-size: 20px;
  border: 1px solid $color-dark-accent;
  padding: 20px 50px 20px 50px;
  margin: 3rem;
}
