.whoDoWeHelp {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin: 10px;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2rem;
      font-weight: 100;
    }
    button {
      background-color: transparent;
      border: none;
      font-size: 1rem;

      padding: 10px;
      margin: 0 20px 0 20px;
    }
    button:hover {
      outline: 1px solid $color-dark-accent;
      outline-style: inset;
    }
  }
  p {
    width: 30rem;
  }
  .pages {
    list-style: none;
    display: flex;
    div {
      padding: 10px;
    }

    div:hover {
      cursor: pointer;
      outline: 1px solid $color-main;
    }
  }
  .rows {
    .row {
      border-top: 1px solid $color-dark-accent;
      .spanBold {
        font-weight: 600;
      }
    }
  }
}
